/* Reset */
:root {
  line-height: 1.5;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol, ul {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}
h1{
  font-size:9rem;
}
h2{
  font-size: 3.5rem;
  margin-top:1.7rem;
}


h3{
  font-size: 3rem;
  text-align: left;
}

img {
  display: block;
  max-inline-size: 100%;
}
iframe{
  width: 100%;
}

/* Styles */
/* @font-face {
  font-family: Compacta;
  src: url(./unicode.compacta.ttf);
} */


html{
  font-size: 62.5%;
}
img{
  max-width:100%;
}

body{
  --red: #D6483D;
  --yellow:#FBD64E;
  --lightYellow:#FEEC8E;
  --blue: #0F6EAB;
  --lightBlack: #312D1F;
  --displayFont: 'Impact', sans-serif;
  font-size: 1.4em;
  font-family: 'Noto Sans', sans-serif;
  background-color: var(--blue);
}


h1,h2, h3,h4{
  font-family: var(--displayFont);
  color:black;
}
.display-font{
  font-family: var(--displayFont);
  text-transform: uppercase;
  font-style: italic;
}

/* Local stylezz */

.wrapper{
  scroll-behavior: smooth;
  max-width:900px;
  margin: 0 auto;
}
section{
  height: 100%;
  width:90%;
  max-width:1400px;
  margin:0 auto;
  text-align: center;
  scroll-behavior: smooth;
  scroll-margin-top:4rem;

}
.title{
  font-weight: bold;
}
marquee{
  font-family: var(--displayFont);
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 1px;
  background-color: var(--yellow);
  padding:1rem 0;
  text-shadow:red 1px 1px;
  font-size: 1.7rem;
}
table{
  width: 100%;
}

ul{
  display: flex;
  width: 100%;
}
/* Navigation */

nav li img{
  max-width:7rem;
}

nav{
  background-color: white;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

nav ul {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

nav ul li{
  width: 20%;
  text-align: center;
  font-family: var(--displayFont);
  letter-spacing: 1px;
  font-size: 2rem;
  padding:.5rem 0;
  flex-grow:1;
}
nav ul li a{
  text-decoration: none;
  display: inline-block;
  width: 100%;
  color:black;
}
nav ul li a:hover,
nav ul li:focus-within {
color:var(--yellow)
}

nav ul li.long-nav-entry{
  flex-grow:2;
}

nav a img{
  max-height:4rem;
  padding-left:1rem;
}

input[type='checkbox']{
  display: none;

}

/* Header */
header{
  height: 100vh;
  background-image: url('./img/header-with-subhead.png');
  background-size: cover;
  background-position: 50% 50%;  
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.badge-right{
  /* flex-grow:0; */
  margin-top:10px;
  margin-right:10px;
  width: 30%;
}

/* Presented by */

#presented{
  margin-bottom:2rem;
  padding-top:2rem;
}

/* Lineup & Set Times */
.schedule{
  background-color: var(--yellow);
  border:4px solid black;
}
.schedule h3{
  margin-left:1rem;
  margin-top:1.5rem;
}
table{
  width: 100%;
  max-width:1200px;
  background-color: var(--yellow);
  padding: 1rem;
}
th:first-of-type{
  background-color: transparent;
}
th{
  background-color: var(--lightBlack);
  color:white;
}
tr{
  background-color: white;
}
tr:nth-of-type(2n){
  background-color: var(--lightYellow);
}
td:first-of-type{
  background-color: var(--red);
  color:white;
  text-align: center;
}
td{
  font-style: italic;
  color:var(--blue);
  text-transform: uppercase;
}
td p + p{
text-transform:initial;
}

/* Dress */
.dress-container{
  background-image: url('./img/warped-folks-small.png');
  background-size: cover;
  background-position: 0 10% ;
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height:40vh;
}
.dress-container p{
  font-size: 1.5rem;
  width: 80%;
  z-index: 100;
  position: relative;
  margin: 0 auto;
  padding-top:1.5rem;
}
.scrim{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  opacity:.78;
  background-color: var(--yellow);
  z-index: 10;
}

/* Travel */
.accordion-container {
  display: block;
  text-align: left;
}
.accordion-container input[type="checkbox"]{
  display:none;
}
.accordion-container label {
  display: flex;
  background-color: var(--yellow);
  justify-content: space-between;
  padding:.5rem 1rem;
  font-size: 2.3rem;
  display: flex;
  align-items: center;
}
.accordion-container .content{
  max-height: 0;
  overflow: hidden;
  transition: all .3s;
  background-color: var(--lightYellow);
  /* to keep the content invisible */
  padding:0 10%;
}


.accordion-container label + input[type="checkbox"]:checked{
  background-color: var(--lightYellow);
}
.accordion-container label + input[type="checkbox"]:checked + .content {
  max-height: 400px;
}

.content p {
  padding-top:1rem;
  padding-bottom:1rem;
}
.parking {
  margin-bottom:1rem;
}
.plus-sign{
  display: flex;
  flex-direction: column;
}
.plus-sign span{
  /* display: block; */
  height: 3px;
  width: 15px;
  background-color: black;
}
.plus-sign span + span{
  transform: rotate(90deg) translate(-3.1px, -0.2px);
  z-index: 0;
}
.content{
  background-color: var(--yellow);
  padding: 1rem 10%;
  text-align: left;
}
/* Footer */
footer{
  margin-top:2rem;
  background-color: lightgray;
  text-align: center;
  padding: 5%;
  font-weight: bold;
}

/* MQs */
@media screen and (max-width:770px){
  header{
    height: 60vh;
  }
  h1{
    font-size: 5rem;
  }
  .spinner{
    display:block;
  }
  nav ul {
    height:100vh;
    flex-direction: column;
    transform:translate(-100%);
    opacity: 0;
    position: fixed;
    width: 100%;
    transition:all .3s;
    justify-content: center;
    background-color: white;
    z-index: 10;
  }
  nav ul li{
    width: 100%;
    display: flex;
    flex-grow:0;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  nav ul li.longNavEntry{
    flex-grow:0;
  }

  input[type="checkbox"]:checked ~ #menu {
    transform: translateX(0);
    opacity:1;
  }
  
  input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    z-index:100;
  }
  .sidebarIconToggle{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    padding: .5rem;
    z-index:100;
    right:0;

  }
  .sidebarIconToggle .hamburger{
    background-color: black;
    height: 4px;
    width:30px;
    margin-top:4px;
  } 
  .dress-container{
    height:300px;
  }
}